<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tổng hợp phiên học</title>
  </head>
  <body>
    <div class="card mb-4" style="margin:20px">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Bảng tổng hợp phiên học
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã Phiên</th>
              <th>Tỉ lệ</th>
              <th>Khóa học</th>
              <th>Mã học viên</th>
              <th>Họ tên</th>
              <th>Họ tên giáo viên</th>
              <th>Xe tập lái</th>
              <th>Ngày đào tạo</th>
              <th>Thời gian</th>
              <th>Quãng đường</th>
              <th>Trạng thái</th>
              <th>Lý do</th>
            </tr>
          </thead>
          <tbody>
            {{#each dat_ss}}
              <tr>
                <td>{{this.STT}}</td>
                <td>{{this.MaPhien}}</td>
                <td>{{this.TiLe}}</td>
                <td>{{this.KhoaHoc}}</td>
                <td>{{this.MaHocVien}}</td>
                <td>{{this.HoTen}}</td>
                <td>{{this.HoTenGiaoVien}}</td>
                <td>{{this.XeTapLai}}</td>
                <td>{{this.NgayDaoTao}}</td>
                <td>{{this.ThoiGian}}</td>
                <td>{{this.QuangDuong}}</td>
                {{#if this.TrangThai}}
                  <td>Bảo lưu</td>
                {{else}}
                  <td>Đạt</td>
                {{/if}}
                <td>{{this.LyDoLoai}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>
  </body>
</html>