<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        /* CSS cho đẹp */
    </style>
    <script>
        function toggleList() {
            const selectedValue = document.getElementById('trangthai').value;
            document.getElementById('student_fail').style.display = selectedValue === 'fail' ? 'block' : 'none';
            document.getElementById('student_pass').style.display = selectedValue === 'pass' ? 'block' : 'none';
        }
    </script>
</head>
<body>
    <h1>Search</h1>
    <form action="/search/results" method="GET">
        <label for="query">Nhập Họ tên, Mã học viên hoặc Số CCCD:</label>
        <input style="width:20%;" type="text" id="query" name="query" placeholder="Nhập Họ tên, mã học viên, số CMT..." value="{{query}}">
        <button type="submit" class="w3-btn w3-white w3-border w3-border-blue w3-round">Search</button>
    </form>

    <!-- Nếu có kết quả, hiển thị bảng -->
    {{#if results.length}}
        <h2>Kết quả tìm kiếm</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Mã học viên</th>
                    <th>Ảnh</th>
                    <th>Họ tên</th>
                    <th>Khoá học</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Số CMT</th>
                    <th>Hạng</th>
                    <th>Tổng thời gian B11</th>
                    <th>Tổng quãng đường B11</th>
                    <th>Tổng quãng đường sáng</th>
                    <th>Tổng thời gian sáng</th>
                    <th>Tổng quãng đường tối</th>
                    <th>Tổng thời gian tối</th>
                    <th>Tổng thời gian</th>
                    <th>Tổng quãng đường</th>
                    <th>Trạng thái</th>
                    <th>Lý do</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                    <tr>
                        <td>{{ this.MaHocVien}}</td>
                        <td><img src="data:image/jpeg;base64,{{ this.Anh}}" style="height: 130px; width:100px;" alt="Ảnh"></td>
                        <td>{{this.HoTen}}</td>
                        <td>{{this.KhoaHoc}}</td>
                        <td>{{this.NgaySinh}}</td>
                        <td>{{this.GioiTinh}}</td>
                        <td>{{this.SoCMT}}</td>
                        <td>{{this.Category}}</td>
                        <td>{{this.TongThoiGianXeSoTuDong}}</td>
                        <td>{{this.TongQuangDuongXeSoTuDong}}</td>
                        <td>{{this.TotalMorningDistance}}</td>
                        <td>{{this.TotalMorningTime}}</td>
                        <td>{{this.TotalEveningDistance}}</td>
                        <td>{{this.TotalEveningTime}}</td>
                        <td>{{this.TotalDuration}}</td>
                        <td>{{this.TotalDistance}}</td>
                        {{#if this.TrangThai}}
                            <td style="color: red;">Bảo lưu</td>
                        {{else}}
                            <td>Đạt</td>
                        {{/if}}
                        <td>{{this.LyDo}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table> 
    {{else}}
        <label for="trangthai">Chọn danh sách hiển thị:</label>
    <select id="trangthai" name="trangthai" onchange="toggleList()">
        <option value="fail" selected>Bảo lưu</option>
        <option value="pass">Đạt</option>
    </select>

    <!-- Hiển thị danh sách học viên bảo lưu (mặc định) -->
    <div id="student_fail" style="display: block;">
        <h2>Danh sách học viên bảo lưu: {{student_fail.length}}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Mã học viên</th>
                    <th>Ảnh</th>
                    <th>Họ tên</th>
                    <th>Khoá học</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Số CMT</th>
                    <th>Trạng thái</th>
                    <th>Lý do</th>
                </tr>
            </thead>
            <tbody>
                {{#each student_fail}}
                    <tr>
                        <td>{{ this.MaHocVien }}</td>
                        <td><img src="data:image/jpeg;base64,{{ this.Anh }}" style="height: 130px; width:100px;" alt="Ảnh"></td>
                        <td>{{ this.HoTen }}</td>
                        <td>{{ this.KhoaHoc }}</td>
                        <td>{{ this.NgaySinh }}</td>
                        <td>{{ this.GioiTinh }}</td>
                        <td>{{ this.SoCMT }}</td>
                        <td style="color: red;">Bảo lưu</td>
                        <td>{{ this.LyDo }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Hiển thị danh sách học viên đã qua -->
    <div id="student_pass" style="display: none;">
        <h2>Danh sách học viên đạt: {{student_pass.length}}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Mã học viên</th>
                    <th>Ảnh</th>
                    <th>Họ tên</th>
                    <th>Khoá học</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Số CMT</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {{#each student_pass}}
                    <tr>
                        <td>{{ this.MaHocVien }}</td>
                        <td><img src="data:image/jpeg;base64,{{ this.Anh }}" style="height: 130px; width:100px;" alt="Ảnh"></td>
                        <td>{{ this.HoTen }}</td>
                        <td>{{ this.KhoaHoc }}</td>
                        <td>{{ this.NgaySinh }}</td>
                        <td>{{ this.GioiTinh }}</td>
                        <td>{{ this.SoCMT }}</td>
                        <td>Đạt</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}

    <!-- Nếu có phiên, hiển thị bảng -->
    {{#if sessions.length}}
        <h2>Các phiên liên quan</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã Phiên</th>
                    <th>Họ tên</th>
                    <th>Họ tên Giáo viên</th>
                    <th>Xe Tập Lái</th>
                    <th>Ngày Đào Tạo</th>
                    <th>Thời Gian</th>
                    <th>Quãng Đường</th>
                    <th>Trạng Thái</th>
                    <th>Lý Do Loại</th>
                </tr>
            </thead>
            <tbody>
                {{#each sessions}}
                    <tr>
                        <td>{{this.STT}}</td>
                        <td>{{this.MaPhien}}</td>
                        <td>{{this.HoTen}}</td>
                        <td>{{this.HoTenGiaoVien}}</td>
                        <td>{{this.XeTapLai}}</td>
                        <td>{{this.NgayDaoTao}}</td>
                        <td>{{this.ThoiGian}}</td>
                        <td>{{this.QuangDuong}}</td>
                        {{#if this.TrangThai}}
                        <td style="color: red;">Bảo lưu</td>
                        {{else}}
                        <td>Đạt</td>
                        {{/if}}
                        <td>{{this.LyDoLoai}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</body>
</html>
